
html,body,#contents,.wrapper,#back{
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: relative;
}

.wrapper{
  
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

h1{
  color: #000000;
}

header{
  position: fixed;
  width: 100%;
  background-color: rgb(180, 139, 219);
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

footer{
  position: fixed;
  width: 100%;
  background-color: rgb(180, 139, 219);
  bottom:0;
  padding: 15px;
  text-align: right;
  font-size: 18px;
  z-index: 100;
  color: #000000;
}

header h1{
  font-size: 25px;
}

header li{
  font-size: 25px;
}

header ul{
  display: flex;
  margin-left: auto;
}

header ul li{
  margin-left: 20px;
}

.container {
  margin: 0 auto;
  padding: 300px;
  width: 100%;
  color: #333;
  background: #6f32ff;
}

.slick-slide {
  text-align: center;
  color: #ae8bff;
  background: white;
}



#intro{
  text-align: center;
  position: fixed;
  display: flex;
  z-index: 101;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: serif;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  top: 0;
}